.admin {
	float: left;
	margin-top: 5%;
	margin-bottom: 5%;
	width: 25%;
	height: 80%;
	border: 2px solid #00000077;
}

.teste {
	float: right;
	margin-top: 5%;
	margin-bottom: 5%;
	width: 70%;
	height: 80%;
	border: 2px solid #00000077;
}
.rank {
	float: right;
	width: 75%;
	height: 80%;
	border: 2px solid #00000077;
}
